/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(40, 40, 40);
  box-sizing: border-box;
}

// select currency comp styling
mat-form-field {
  padding-top: 1.25rem;

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding-top: 8px !important;
    padding-bottom: 6px !important;
  }

  .mat-mdc-form-field-infix {
    min-height: 2rem !important;
    max-width: 3rem !important;
  }
}

.dialog-backdrop {
  background-color: #000000d5;
}
// coin detail modal pane
.cdk-overlay-pane {
  width: 94vw !important;
  max-width: 94vw !important;
  box-shadow: 0 0 2px #ffffffa8;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .cdk-overlay-pane {
    width: 74vw !important;
    max-width: 74vw !important;
    height: 50vh;
  }
}
@media screen and (min-width: 1025px) {
  .cdk-overlay-pane {
    width: 48vw !important;
    max-width: 74vw !important;
    height: 92vh;
  }
}
