<mat-toolbar>
  <div class="icon-container">
    <mat-icon svgIcon="crypTrends" />
    <span class="brand-label">Cryptrends</span>
  </div>
  <div class="select-currency-container">
    <span class="currency-label">Devise</span>
    <mat-form-field appearance="outline">
      <mat-select
        [ngModel]="selectedCurrencyValue()"
        (valueChange)="currencyService.setValue($event)"
      >
        @for(currency of currencies; track currency){
        <mat-option [value]="currency">{{ currency }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>

<!-- selected currency trending coins list -->
<div class="home-content">
  <div class="trending-coins-container">
    <div class="trending-coins-list-container">
      @for(coin of (currencyTrendingCoins | async); track coin){
      <mat-card>
        <mat-card-header>
          <div class="card-header">
            <img
              class="trending-coin-icon"
              [src]="coin.image"
              alt="coin icon"
            />
            <div class="market-cap-container">
              <span class="market-cap-time">{{
                (coin.symbol | uppercase) + " / " + "24h"
              }}</span>
              <div
                class="market-cap-indicator"
                [class]="
                  coin.market_cap_change_percentage_24h > 0 ? 'up' : 'down'
                "
              >
                <ng-container
                  *ngTemplateOutlet="
                    marketCapTrendPercent;
                    context: {
                      marketCapTrend: coin.market_cap_change_percentage_24h
                    }
                  "
                ></ng-container>
                <span>{{ coin.market_cap_change_percentage_24h + "%" }}</span>
              </div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="trending-coin-info coin-name-rank">
            <span class="coin-name">{{ coin.name }}</span>
            <span>#{{ coin.market_cap_rank }} </span>
          </div>
          <div class="trending-coin-info">
            <span>Prix</span>
            <span>{{
              coin.current_price | currency : currencyService.currency$.value
            }}</span>
          </div>
          <div class="trending-coin-info">
            <span>max / 24h</span>
            <span>{{
              coin.high_24h | currency : currencyService.currency$.value
            }}</span>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button class="action-btn">plus</button>
        </mat-card-actions>
      </mat-card>
      }
    </div>
  </div>

  <div class="coins-list">
    <!-- coins search bar -->
    <div class="coin-search-bar">
      <input
        (keyup)="filterCoins($event)"
        placeholder="rechercher une crypto..."
      />
    </div>
    <!-- coins lists -->
    <div class="coins-table">
      <table mat-table [dataSource]="coinsTableDataSource">
        <!-- name column -->
        <ng-container [matColumnDef]="TableColumnEnum.Symbol">
          <th mat-header-cell *matHeaderCellDef>
            {{ coinsTableColumnHeader.get(TableColumnEnum.Symbol) }}
          </th>
          <td mat-cell *matCellDef="let coin" class="coin-name">
            <div>
              <img class="coin-icon" [src]="coin.image" alt="coin icon" />
              {{ coin.symbol }}
            </div>
          </td>
        </ng-container>

        <!-- price column -->
        <ng-container [matColumnDef]="TableColumnEnum.Price">
          <th mat-header-cell *matHeaderCellDef>
            {{ coinsTableColumnHeader.get(TableColumnEnum.Price) }}
          </th>
          <td mat-cell *matCellDef="let coin" class="odd-column">
            {{ coin.current_price | currency : selectedCurrencyValue() }}
          </td>
        </ng-container>

        <!-- 24h market cap percentage -->
        <ng-container [matColumnDef]="TableColumnEnum.LastDay">
          <th mat-header-cell *matHeaderCellDef>
            {{ coinsTableColumnHeader.get(TableColumnEnum.LastDay) }}
          </th>
          <td mat-cell *matCellDef="let coin">
            <div
              class="market-cap market-cap-green"
              [ngClass]="{
                'market-cap-red': coin.market_cap_change_percentage_24h < 0
              }"
            >
              <ng-container
                *ngTemplateOutlet="
                  marketCapTrendPercent;
                  context: {
                    marketCapTrend: coin.market_cap_change_percentage_24h
                  }
                "
              ></ng-container>

              {{ coin.market_cap_change_percentage_24h }}%
            </div>
          </td>
        </ng-container>

        <!-- market cap column -->

        <ng-container [matColumnDef]="TableColumnEnum.MarketCap">
          <th mat-header-cell *matHeaderCellDef>
            {{ coinsTableColumnHeader.get(TableColumnEnum.MarketCap) }}
          </th>
          <td mat-cell *matCellDef="let coin">
            {{ coin.market_cap | currency : selectedCurrencyValue() }}
          </td>
        </ng-container>

        <!-- column volume -->

        <ng-container [matColumnDef]="TableColumnEnum.Volume">
          <th mat-header-cell *matHeaderCellDef>
            {{ coinsTableColumnHeader.get(TableColumnEnum.Volume) }}
          </th>
          <td mat-cell *matCellDef="let coin" class="odd-column">
            {{ coin.total_volume | currency : selectedCurrencyValue() }}
          </td>
        </ng-container>

        <ng-container [matColumnDef]="TableColumnEnum.PlusBtn">
          <th mat-header-cell *matHeaderCellDef>
            {{ coinsTableColumnHeader.get(TableColumnEnum.PlusBtn) }}
          </th>
          <td class="action-button-cell" mat-cell *matCellDef="let coin">
            <button class="action-btn">plus</button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="coinsTableRow"
          class="table-header-rows"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: coinsTableRow"
          class="table-cell-rows"
        ></tr>
      </table>
    </div>
    <mat-paginator
      #matTablePaginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      length="100"
      (page)="OnPaginatorChange($event)"
    ></mat-paginator>
  </div>
</div>

<ng-template #marketCapTrendPercent let-marketCapTrend="marketCapTrend">
  @if(marketCapTrend > 0){

  <mat-icon
    aria-hidden="false"
    aria-label="market cap percentage 24h"
    fontIcon="arrow_drop_up"
  />
  } @else {
  <mat-icon
    aria-hidden="false"
    aria-label="market cap percentage 24h"
    fontIcon="arrow_drop_down"
  />
  }
</ng-template>
