@import "../styles/colors.scss";

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  height: 4rem;

  .icon-container {
    display: flex;
    align-items: center;
    margin-left: 0.25rem;

    & > * {
      margin: 0 0.25rem;
    }

    mat-icon {
      width: 2.5rem;
      height: 2.5rem;
    }

    .brand-label {
      font-size: 0.75rem;
      font-weight: 400;
      color: $medium-pastel-blue;
    }
  }

  .select-currency-container {
    display: flex;
    align-items: center;

    .currency-label {
      font-size: 0.8rem;
      font-weight: 400;
    }

    & > * {
      margin: 0 1rem;
    }
  }
}

.home-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;

  .trending-coins-container {
    height: 31vh;
    width: 100%;
    padding: 0.5rem 1.5rem 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .trending-coins-list-container {
      display: flex;
      height: 100%;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;

      mat-card {
        width: 16rem;
        min-width: 13rem;
        height: 100%;
        margin: 0.25rem;

        mat-card-header {
          padding: 0 0.25rem;

          .card-header {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .trending-coin-icon {
              width: 1.5rem;
              height: 1.5rem;
              padding: 0.25rem;
              border: 1px solid #ffffff9e;
              border-radius: 50%;
              margin-left: 0.25rem;
            }

            .market-cap-container {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;
              margin-left: 4rem;
              padding-top: 0.5rem;

              .market-cap-time {
                padding: 0;
                align-self: flex-end;
                color: #ffffff9e;
                font-weight: 300;
              }

              .market-cap-indicator {
                display: flex;
                align-items: center;

                &.up {
                  color: rgb(101, 209, 96);
                }

                &.down {
                  color: rgb(243, 78, 77);
                }
              }
            }
          }
        }

        mat-card-content {
          padding: 0 0 0 10px;

          & > * {
            margin: 0.75rem 0;
            width: 95%;
          }

          .trending-coin-info {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.8rem;
            font-weight: 300;
            color: #ffffff8d;
            border-bottom: 1px solid #ffffff7d;

            &.coin-name-rank {
              border: none;
              &::before {
                content: "";
                position: absolute;
                top: 105%;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $medium-pastel-blue;
                border-radius: 1rem;
                box-shadow: 0 0 6px #ffffffcd;
              }

              .coin-name {
                color: $medium-pastel-blue;
              }
            }

            &:last-child {
              border: none;
            }
          }
        }

        mat-card-actions {
          max-height: 2rem;
          // padding: 0 0.25rem;
          margin-top: -0.5rem;

          button {
            color: $light-pastel-blue;
            font-size: 0.75rem;
            font-weight: 300;
          }
        }
      }
    }
  }

  input {
    outline: none;
    width: 13rem;
    height: 2rem;
    border: 1px solid #838282;
    border-left: 17px solid #838282;
    border-right: 17px solid #838282;
    background-color: transparent;
    color: #ffffff9e;
    padding: 0 2rem;
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);

    &::placeholder {
      color: #ffffff6c;
      font-size: 1rem;
      font-style: italic;
    }
  }

  .coins-table {
    width: 94%;
    height: 45%;
    align-self: center;
    overflow-y: scroll;
    margin-left: -0.75rem;
    position: relative;

    table {
      width: 100%;
      height: 100%;

      .header-rows {
        position: sticky;
        top: -0.5rem;
        color: #ffffff9e;
        background-color: #212121;
      }

      th,
      td {
        max-width: 8rem;
      }

      td {
        &.market-cap-green {
          color: rgb(101, 209, 96);
        }
        &.market-cap-red {
          color: rgb(243, 78, 77);
        }

        &.odd-column {
          color: $medium-pastel-blue;
        }
      }
    }
  }
}
