@import "../../styles/colors.scss";

:host {
  .coin-details-container {
    height: 90vh;
    background-color: #202020;
    padding: 0.5rem;
    overflow: hidden;

    .coin-details-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 0.5rem;

      .coin-name-container {
        display: flex;
        align-items: center;

        & > * {
          margin: 0 0.5rem;
        }

        img {
          width: 1.5rem;
          height: 1.5rem;
          padding: 0.5rem;
          border-radius: 50%;
          border: 1px solid #ffffff8d;
        }

        .coin-name {
          position: relative;
          color: #ffffff8d;
          font-size: 1rem;
          font-weight: 300;

          &::before {
            position: absolute;
            content: "";
            top: 110%;
            left: 0;
            width: 100%;
            height: 1px;
            border-radius: 5px;
            background-color: $light-pastel-blue;
            box-shadow: 0 1px 1px #ffffff8d;
          }
        }
      }

      mat-icon {
        font-size: 1.75rem;
        color: #ffffff8d;
        padding: 0.5rem;
        cursor: pointer;
        margin-bottom: 0.5rem;
      }
    }

    .coin-detail-blocs {
      display: flex;
      flex-direction: column;
      padding: 0 0.75rem 0 0.75rem;

      .coin-detail-bloc {
        margin-bottom: 0.5rem;
        border-bottom: 1px dashed #ffffff8f;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff62;
      }

      .coin-detail-bloc.first {
        margin-top: 0.5rem;
        border-bottom: 1px solid $medium-pastel-blue;

        .coin-rank {
          font-size: 1rem;
          font-weight: 300;
          color: #ffffff8d;
        }

        .coin-current-price {
          font-size: 1.25rem;
          font-weight: 200;
          color: $medium-pastel-blue;
        }
      }
    }

    .price-change-container {
      margin: 0.5rem 0;
      overflow: hidden;
      padding-right: 0.5rem;
      height: 6rem;

      .label {
        font-size: 1rem;
        font-weight: 200;
        position: relative;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid $medium-pastel-blue;
        color: $medium-pastel-blue;
      }

      table {
        background-color: transparent;
        border-spacing: 0.25rem;
        margin: 0.5rem 0;
        height: 100%;
        th {
          background: #2e2d2d8f;
          font-weight: 300;
          border-radius: 8px;
        }

        td,
        th {
          text-align: center;
          font-size: 0.75rem;
        }

        td {
          vertical-align: top;
          &.up {
            color: rgb(101, 209, 96);
          }

          &.down {
            color: rgb(243, 78, 77);
          }
        }

        .coin-price-change-table-headers {
          height: 4px;
          & > * {
            border: none;
          }
        }
      }
    }

    .graph-container {
      width: 100%;
      height: 18rem;
      padding: 0;
      border: 1px solid #ffffff62;
      border-radius: 8px;

      canvas {
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
}
